body {
    background-color: #f0c99c;
}
h1 {
    color: #7d512f;
}
h2 {
    color: #a16a40 ;
}
a {
    color: #a16a40;
    text-decoration: none;
}
div {
    color: #a16a40;
}
nav {
    color: #a16a40;
    list-style-type: none;
}
pre {
    color: #b87d51;
    font-size: 23px;
}
ul {
    list-style-type: none;
    font-size: 20px
}
ol li {
    list-style-type: none;
    font-size: 28px;
    margin-right: 5px;
    padding: 3px;
    display: inline-block;
    border: 3px solid #7d512f;
    float: left; 
    
}